.background {
    height: 80px;
    background-color: #dbedff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}