.skill {
    width: 350px;
    background-color: #00ff22;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid ;
    margin-top: 0.3%;

}
.icon {
    height: 60px;
    width: 60px;
    background-color: #deffd9;
}