.mainBlock {
    /*display: flex;*/
    /*height: 100vh;*/
    background-color: #ffa666;
    /*padding: 20px 40px;*/
    width: 100%
}
.content {
    max-width: 1400px;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 2fr;
    /*background-color: azure;*/
    font-size: 20px;
    padding: 20px;
}
.main_photo {
    display: flex;
    background-size: cover;
    width: 350px;
    height: 400px;
}
.photo {
    height: 100%;
    width: 100%;
    min-width: 100px;
    object-fit: cover;
}