@import './src/common/styles/sass/variables';

.title {
    font-family: $titleFontFamily;
    font-weight: 300;
    color: $textColor;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    margin: 0 0 30px;
    position: relative;
    text-align: center;
    .title h2 {
        margin: 0;
    }
    &::after {
        content: "";
        position: absolute;
        background: $primaryColor;
        width: 55px;
        height: 1px;
        bottom: -35px;
        left: 50%;
        transform: translate(-50%, 50%);
    }

}
