.project {
    border: 2px solid black;
    width: 400px;
    background-color: #ff98e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.3%;
}
.containerImgButton {
    width: 100%;
    height: 200px;
    background-color: #deffd9;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    background-size: cover;

}
.checkButton {
    width: 100px;
    height: 40px;
    font-size: 22px;

}