.jobOfferBlock {
    /*height: 120px;*/
    background-color: #d2ff47;
    width: 100%;
}
.jobOfferContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1400px;
    width: 100%;
    /*padding: 40px;*/
    /*align-items: center;*/
}
.title {
    padding: 20px 20px 60px 20px;
}
.hireMe {
    /*border: 1px solid black;*/
    width: 240px;
    height: 120px;
    text-align: center;
    padding: 60px 20px 20px 20px
}
.hireMeButton {
    width: 100%;
    height: 100%;
    background-color: #dbedff;
    font-size: 24px;
}
