.socialContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px;
    .social {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 30px;
        background-size: 120%;
        background-position: 50%;
        background-repeat: no-repeat;
        transition: all .2s ease-in-out;

    }

    .social:last-child {
        margin-right: 0;
    }

    .social:hover {
        transform: scale(1.1);
    }
}
@media screen and (max-width: 410px) {
    .socialContainer {
        margin: 5px;
    }
}



