.footerBlock {
    /*height: 30vh;*/
    background-color: #d2ff47;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footerContainer {
    max-width: 1400px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.boxesContainer {
    display: flex;
    justify-content: space-between;
    /*padding: 20px 0;*/
    /*border: 2px solid black;*/
    font-size: 22px;
    width: 280px;
    /*height: min-content;*/

}
