.projectsBlock {
    /*height: 100vh;*/
    background-color: #ff6374;
    width: 100%;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1400px;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}
.title {
    /*background-color: darkmagenta;*/
}
.projects {
    /*border: 1px solid azure;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}